# Laravel
backend/vendor/
backend/node_modules/
backend/public/hot
backend/public/storage
backend/public/build
backend/storage/*.key
backend/storage/pail
backend/.env
backend/.env.backup
backend/.env.production
backend/.phpunit.result.cache
backend/.phpactor.json
backend/Homestead.json
backend/Homestead.yaml
backend/npm-debug.log
backend/yarn-error.log
backend/auth.json
backend/.fleet/
backend/.idea/
backend/.nova/
backend/.vscode/
backend/.zed/
backend/.DS_Store

# Nuxt
frontend/node_modules/
frontend/.nuxt/
frontend/.output/
frontend/.data/
frontend/.nitro/
frontend/.cache/
frontend/dist/
frontend/.DS_Store
frontend/.env
frontend/.env.*
!frontend/.env.example